.footer-main-cont{
    height: 200px;
    background-color: #1624afde;
}
.footer-bottom-cont{
    height: 40px;
    background-color: rgb(83, 83, 241);
}
.footer-h4{
    text-align: center;
    color: white;
}